files:
    "/etc/httpd/conf.d/update.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
             <Directory /var/www/html/public>
                Options FollowSymLinks
                AllowOverride All
                Require all granted
            </Directory>