files:
  "/etc/nginx/sites-available/custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 80;
        server_name _;

        location / {
          if (!-e $request_filename){
            rewrite ^(.*)$ /index.php?$1 last;
          }
        }

        location /public {
          try_files $uri $uri/ /public/index.php?$query_string;
        }
      }