//
// page-title.scss
//

.page-title-box {
    background-size: cover;
    background-color: #FFF9F3;
    position: relative;
    padding-top: 185px;
    padding-bottom: 60px;
    background-position: center;
    color: #37404e;

    .page-title-wrapper {
        &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            z-index: 1;
            width: 100px;
            background: url(/storage/general/bg-head-left-candidate.svg) no-repeat right bottom;
        }
        &::after {
            z-index: 1;
            content: "";
            position: absolute;
            bottom: 0px;
            right: 0px;
            height: 100%;
            width: 543px;
            background: url(/storage/general/bg-header-right.svg) no-repeat right bottom;
        }
    }

    .current-page-title{
        font-size: 44px;
        line-height: 54px;
        padding-left:7px;
        margin-bottom: 15px;
    }
}

.shape {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    pointer-events: none;

    &>svg {
        width: 100%;
        height: auto;
    }
}

.breadcrumb {
    letter-spacing: 0.5px;
    text-align: center;
    color: #88929b;
    font-size: 16px;

    .breadcrumb-item {
        text-transform: uppercase;
        font-weight: 450;
        font-size: 16px;
        color: #88929b;
        

        &::before {
            content: "/";
            font-size: 15px;
            color: #88929b;
            font-family: "Material Design Icons";
            padding-left: 8px;
        }

        &:first-child {
            &::before {
                content: "";
            }
        }

        a {
            color: #88929b;
            transition: all 0.5s ease;
            color: #1f2938;
            text-decoration: none;

            &:hover {
                color: #37404e;
            }
        }
    }
}


/*****************dark-mode******************/

body[data-layout-mode='dark'] {
    .page-title-box {
        background-color: $gray-dark-100;
    }

    .shape {
        &>svg {
            path {
                fill: $gray-dark-200;
            }
        }
    }

    .shape-light {
        &>svg {
            path {
                fill: $gray-dark-300;
            }
        }
    }

    .job-pagination {
        .page-item {
            .page-link {
                background-color: $gray-dark-400;
                border-color: $gray-dark-400;
            }

            &.active {
                .page-link {
                    background-color: $primary;
                    border-color: $primary;
                }
            }
        }
    }
}
